* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fontsize_cardtext_norm: 1.5rem;
  --fontsize_card__question: 1.7rem;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #9eb3b3;
  background-image: linear-gradient(
    29deg,
    #9eb3b3 0%,
    #e0ffff 38%,
    #c2e8e8 66%,
    #b2c9c9 100%
  );
}

.main__bg {
  /* Wieso funktioniere die Abstände auch 
  ohne die height-Angabe?!?!?? */

  height: calc(100vh - 65px - 40px);

  margin: 100px 0 40px 0;

  padding: 0 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  overflow-y: scroll;
  position: relative;
}
