.card {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  padding: 10px 30px;

  border-radius: 20px;
}

.card__question {
  padding: 10px 0;
}

.card__text {
  padding: 10px 0;
}

.card__submit {
  display: flex;
  justify-content: center;
}
