.header {
  background-color: #93b6d4;
  height: 65px;
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;

  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.header__title {
  font-family: "Ubuntu";
  font-size: 3rem;
}
