.main__bg {
  height: calc(100vh - 60px - 40px);

  padding: 30px;

  display: flex;
  justify-content: center;
}

.nav {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.nav__list {
  background-color: pink;
  height: 40px;
  list-style: none;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
}

.nav__list__item {
  display: flex;
  justify-content: center;
}
