.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 20;
}

.nav__list {
  background-color: pink;
  height: 40px;
  list-style: none;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
}

.nav__list__item {
  display: flex;
  justify-content: center;

  font-size: 1.5rem;
}
