.main__bg {
  /* Wieso funktioniere die Abstände auch 
    ohne die height-Angabe?!?!?? */

  height: calc(100vh - 65px - 40px);

  margin: 100px 0 40px 0;

  padding: 0 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  overflow-y: scroll;
  position: relative;
}
